<div class="col-md-12">
  <h1>まずはあなたに最適なカロリーと<br>マクロ栄養素のバランスを求めましょう！</h1>
  <p>身長・体重・年齢・活動量などの基本情報から、<br>その人にあったカロリーとマクロバランスを算出することが出来ます。</p>
</div>
<%= link_to "基本情報を登録!", new_userfeature_url, class: "btn btn-lg btn-primary"%>
