<body>
  <div class="py-5">
    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <h1>
            <%= @user.name%>
            <%= image_tag("neko_magazine04.jpg", alt: "neko logo")%>
          </h1> 
        </div>
        <div class="col-md-8">
          <div class="col-md-12">
            <h1>まずはあなたに最適なカロリーと<br>マクロ栄養素のバランスを求めましょう！</h1>
            <p>身長・体重・年齢・活動量などの基本情報から、<br>その人にあったカロリーとマクロバランスを算出することが出来ます。</p>
          </div><a class="btn btn-primary btn-lg" href="#" >基本情報を登録！</a>
        </div>
      </div>
    </div>
  </div>
</body>
